/* Utility classes */
.space-between {
    display: flex;
    justify-content: space-between;
}

.dark {
    color: #222222;
}

.bold {
    font-weight: bold;
}

.mb-7 {
    margin-bottom: 7px;
}

.mb-18 {
    margin-bottom: 18px;
}

.center-div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.rightBorder {
    border-right: 1px solid #0000001F;
}