$headerBottom: #31B9E4;
$borderColor: #0000001F;
$logincardBorder : #3AC7EC;
$forgotColor: #1F7A54;
$inputBorderBottom: rgb(222, 222, 222);
$darkTextColor: #222222;
$mediumDarkTextColor: #333333;
$lightTextColor: #666666;
$badgeBackGround: #2A7FF3;
$linkTextColor: #3FD28B;
$bgColor: #EEEEEE;
$bgTabColor: #8DDC97;
$lightTextColor: #686868;
$expireBgColor: #FFE4E6;
$expireTextColor: #D80000;
$bottomMenuColor: #1F7A54;
$cardTopBorderColor: #0000002e;
$cardBottomBorderColor: #0000002b;
$notifi_shadowColor : #0000003D;
$unreadnotificationBgColor : #FFFFEE;

@import 'app/utility';
