body {
  height: 100vh;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.container {
  height: 100%;
}

/* header style */
.header {
  height: 56px;
  background: transparent url("/assets/headerPatternImage.png") 0% 0% padding-box;
  mix-blend-mode: overlay;
  opacity: 1;
  background-color: black;
  z-index: 2;
}
.header .left {
  float: left;
  margin-left: 29px;
  display: flex;
  height: 100%;
}
.header .left .logo-img {
  height: 25px;
  align-self: center;
}
.header .right {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}
.header .right .navbar {
  display: flex;
  font-size: 14px;
  list-style: none;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  margin-right: 24px;
}
.header .right .navbar a {
  color: #3FD28B;
  text-decoration: none;
  margin-left: 32px;
}
.header .right .navbar .active-white {
  padding: 16px 0;
  color: white;
  border-bottom: 4px solid white;
}
.header .right .icon-link-div {
  display: flex;
  height: 100%;
}
.header .right .icon-link-div a {
  margin-left: 32px;
}
.header .right .icon-link-div div {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.header .right .hamburger-icon {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 24px;
}
.header .right span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7px;
  right: 8px;
  width: 17px;
  height: 21px;
  -webkit-clip-path: circle();
          clip-path: circle();
  font-size: 12px;
  background-color: #2A7FF3;
  color: white;
}
.header .right .light-badge {
  font-size: 8px;
  background-color: white;
  color: #222222;
}
@media screen and (max-width: 860px) {
  .header .right .navbar {
    display: none;
  }
}
@media screen and (min-width: 861px) {
  .header .right .hamburger-icon {
    display: none;
    z-index: 1;
  }
  .header .right .icon-link-div {
    margin-right: 8px;
  }
  .header .right .navbar {
    display: flex !important;
  }
}

.hamburger-menu {
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  width: 280px;
  right: 16px;
  background-color: white;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  z-index: 1;
  transition: all 0.2s;
  transform: scaleY(0);
  transform-origin: top;
}
.hamburger-menu .menu-item button {
  width: 100%;
  height: 48px;
  border: none;
  padding-left: 16px;
  padding-right: 24px;
  background-color: transparent;
  text-align: left;
  color: #1F7A54;
}
.hamburger-menu span {
  display: none;
}
.hamburger-menu .dropdown span {
  display: block;
  float: right;
  rotate: 90deg;
}
.hamburger-menu .dropdown .menu-subItems {
  display: none;
  height: 0px;
  font-size: 14px;
  padding-left: 32px;
}
.hamburger-menu .dropdown .menu-subItems a {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  text-decoration: none;
  color: #1F7A54;
}

.notificationArea {
  position: absolute;
  width: 315px;
  max-height: 582px;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  right: 188px;
  color: black;
  font-size: 14px;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.2s;
}
.notificationArea .notifications::-webkit-scrollbar {
  width: 4px;
}
.notificationArea .notifications::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 6px;
}
.notificationArea .notifications::-webkit-scrollbar-track {
  background-color: transparent;
}
.notificationArea .notifications {
  max-height: 534px;
  overflow-y: scroll;
}
.notificationArea .unread {
  background-color: #FFFFEE;
}
.notificationArea .notification {
  padding: 16px;
}
.notificationArea .notification .notificationContent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}
.notificationArea .notification .notificationContent p {
  width: 260px;
}
.notificationArea .notification .notificationContent i {
  width: 15px;
  float: right;
  color: #1F7A54;
}
.notificationArea .notification .notificationInfo {
  font-size: 12px;
  color: #222222;
  padding-bottom: 8px;
}
.notificationArea .notification .notificationInfo span {
  color: #686868;
}
.notificationArea .notification .dateTime {
  text-align: right;
  font-size: 12px;
  color: #686868;
}
.notificationArea .notificationBtn {
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1F7A54;
  font-weight: bold;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: white 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  border-radius: 0px 0px 2px 2px;
  opacity: 1;
}

@media screen and (min-width: 861px) {
  .notificationArea {
    right: 125px;
  }
}
.announcementArea {
  position: absolute;
  width: 315px;
  height: -moz-max-content;
  height: max-content;
  max-height: 582px;
  right: 136px;
  color: #222222;
  font-size: 14px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  z-index: 1;
  transition: all 0.2s;
  transform: scaleY(0);
  transform-origin: top;
}
.announcementArea .announcements::-webkit-scrollbar {
  width: 4px;
}
.announcementArea .announcements::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 6px;
}
.announcementArea .announcements::-webkit-scrollbar-track {
  background-color: transparent;
}
.announcementArea .announcements {
  max-height: 534px;
  overflow-y: scroll;
}
.announcementArea .announcements .announcement {
  padding: 16px;
}
.announcementArea .announcements .announcement .announcementCreater {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  font-size: 12px;
}
.announcementArea .announcements .announcement .announcementCreater span {
  color: #686868;
}
.announcementArea .announcements .announcement .announcementCreater i {
  width: 15px;
  float: right;
  font-size: 14px;
  color: #1F7A54;
}
.announcementArea .announcements .announcement .announcementText {
  padding-bottom: 8px;
}
.announcementArea .announcements .announcement .announcementInfo {
  font-size: 12px;
  color: #686868;
}
.announcementArea .announcements .announcement .announcementInfo .dateTime {
  text-align: right;
}
.announcementArea .announcementBtns {
  height: 48px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  border-radius: 0px 0px 2px 2px;
  opacity: 1;
  font-weight: bold;
}
.announcementArea .announcementBtns .right-border {
  border-right: 1px solid rgba(0, 0, 0, 0.1215686275);
}
.announcementArea .announcementBtns .announcementBtn {
  width: 50%;
  text-align: center;
  color: #1F7A54;
  padding: 6px;
}
.announcementArea .unread {
  background-color: #FFFFEE;
}

@media screen and (min-width: 861px) {
  .announcementArea {
    right: 71px;
  }
}
/*  Content */
.content {
  background-color: #EEEEEE;
  padding: 24px 24px 16px 24px;
  background-color: #EEEEEE;
  min-height: calc(100% - 164px);
  justify-content: center;
}
.content .tabbar {
  height: 64px;
  width: 100%;
  background-color: #8DDC97;
  display: flex;
  justify-content: space-around;
}
.content .tabbar .active-black {
  border-bottom: 4px solid black;
}
.content .tabbar .tab {
  display: block;
  align-items: center;
  font-size: 16px;
  line-height: 100%;
  width: 100%;
}
.content .tabbar .tab div > span {
  padding: 0 5px;
  margin-left: 16px;
}
.content .result {
  display: flex;
  justify-content: space-between;
  height: 45px;
  margin: 24px 0;
  color: #686868;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1215686275);
}
.content .result .left-result {
  align-self: center;
}
.content .result .right-result {
  display: flex;
  align-items: flex-start;
}
.content .result .right-result #course {
  border: none;
  background-color: transparent;
  font-size: 16px;
  width: 154px;
  margin-right: 24px;
}
.content .result .right-result .sort-icon {
  width: 12px;
  height: 24px;
}
.content .card-display {
  margin: 16px 0;
  width: 100%;
  display: grid;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  grid-auto-flow: dense;
  justify-content: center;
}
.content .card-display .card {
  position: relative;
  display: grid;
  grid-template-columns: 156px 1fr;
  grid-template-rows: 1fr 40px;
  -moz-column-gap: 16px;
       column-gap: 16px;
  background-color: white;
  height: 246px;
  flex-grow: 1;
  padding: 24px 0 9px 0;
}
.content .card-display .card .expireTag {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFE4E6;
  color: #D80000;
  font-size: 10px;
  width: 52px;
  height: 18px;
  font-weight: bold;
}
.content .card-display .card .card-img {
  height: 157px;
  width: 132px;
  background-size: cover;
  margin-left: 24px;
  margin-bottom: 16px;
}
.content .card-display .card .details {
  padding-right: 24px;
}
.content .card-display .card .details .space-between {
  align-items: flex-start;
}
.content .card-display .card .details .space-between .class {
  width: 100%;
  height: 27px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("/assets/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 100%;
  font-weight: 600;
  color: #222222;
}
.content .card-display .card .detail-heading {
  max-height: 40px;
  overflow-y: clip;
  color: #222222;
}
.content .card-display .card .teacher-info > .space-between {
  border-bottom: 1px solid rgba(0, 0, 0, 0.168627451);
  margin-bottom: 8px;
  color: #222222;
}
.content .card-display .card .course-info {
  color: #666666;
  font-size: 12px;
}
.content .card-display .card .card-icons {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1803921569);
  padding: 18px 24px 0 24px;
  margin: 0px 24px;
  align-items: center;
}
.content .card-display .card .card-icons button {
  background: transparent;
  border: none;
  opacity: 0.4;
}
.content .card-display .card .card-icons .card-btn-enable {
  opacity: 1;
  cursor: pointer;
}
@media screen and (max-width: 1090px) {
  .content .card-display {
    display: flex;
    flex-direction: column;
  }
  .content .card-display .card {
    display: grid;
    width: 571px;
    margin-left: auto;
    margin-right: auto;
  }
}

.menu {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  padding-top: 32px;
  padding-bottom: 16px;
  background-color: #EEEEEE;
  font-weight: bold;
}
.menu a {
  text-decoration: none;
  color: #1F7A54;
  font-size: 14px;
  padding: 0 8px;
}
.menu .rightBorder {
  border-right: 1px solid rgba(0, 0, 0, 0.1215686275);
}

/* footer styles */
.footer {
  display: flex;
  font-size: 12px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #E0E1E1;
  color: #616161;
}
.footer p {
  padding-left: 16px;
  font-size: 12px;
  font-weight: bold;
}

.footer-logo {
  padding: 0 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.1215686275);
}

/* Utility classes */
.space-between {
  display: flex;
  justify-content: space-between;
}

.dark {
  color: #222222;
}

.bold {
  font-weight: bold;
}

.mb-7 {
  margin-bottom: 7px;
}

.mb-18 {
  margin-bottom: 18px;
}

.center-div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=dashboard.css.map */