$borderColor: #0000001F;
$badgeBackGround: #2A7FF3;
$darkTextColor: #222222;
$linkTextColor: #3FD28B;
$bgColor: #EEEEEE;
$bgTabColor: #8DDC97;
$lightTextColor: #686868;
$expireBgColor: #FFE4E6;
$expireTextColor: #D80000;
$bottomMenuColor: #1F7A54;
$cardTopBorderColor: #0000002e;
$cardBottomBorderColor: #0000002b;


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}



/* header style */
.header {
    height: 56px;
    background-color: black;
    // opacity: 0.8;



    .left {
        float: left;
        margin-left: 29px;
        display: flex;
        height: 100%;

        .logo-img {
            height: 25px;
            align-self: center;
        }
    }

    .right {
        float: right;
        height: 100%;
        display: flex;
        align-items: center;
        right: 24px;
        margin-right: 24px;

        .navbar {
            display: flex;
            font-size: 14px;
            list-style: none;
            height: 100%;
            align-items: center;
            justify-content: space-around;

            a {
                color: $linkTextColor;
                text-decoration: none;
                margin-left: 32px;
            }

            .active-white {
                padding: 16px 0;
                color: white;
                border-bottom: 4px solid white;
            }
        }

        .icon-link-div {
            display: flex;
            align-items: center;

            a {
                margin-left: 32px;
            }

            div {
                position: relative;
            }
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -8px;
            right: -8px;
            width: 17px;
            height: 21px;
            clip-path: circle();
            font-size: 12px;
            background-color: $badgeBackGround;
            color: white;
        }

        .light-badge {
            font-size: 8px;
            background-color: white;
            color: $darkTextColor;
        }

        @media screen and (max-width: 860px) {
            .navbar {
                display: none;
                position: absolute;
                right: 0;
                height: max-content;
                top: 56px;
                background-color: black;
                justify-content: space-evenly;
                width: 100%;
                height: 50px;
                padding: 0;
                padding-bottom: 20px;
            }
            
            .icon-link-div {
                margin-right: 32px;
            }
        }

        @media screen and (min-width: 861px) {
            .hamburgmenu {
                display: none;
            }

            .navbar {
                display: flex !important;
            }
        }
    }
}





/*  Content */
.content {
    background-color: $bgColor;
    padding: 24px 24px 16px 24px;

    .tabbar {
        height: 64px;
        width: 100%;
        background-color: $bgTabColor;
        display: flex;
        justify-content: space-around;

        .active-black {
            border-bottom: 4px solid black;
        }

        .tab {
            display: block;
            align-items: center;
            font-size: 16px;
            line-height: 100%;
            width: 100%;

            div>span {
                padding: 0 5px;
                margin-left: 16px;
            }
        }
    }


    .result {
        display: flex;
        justify-content: space-between;
        height: 45px;
        margin: 24px 0;
        color: $lightTextColor;
        border-bottom: 1px solid $borderColor;

        .left-result {
            align-self: center;
        }

        .right-result {
            display: flex;
            align-items: flex-start;

            #course {
                border: none;
                background-color: transparent;
                font-size: 16px;
                width: 154px;
                margin-right: 24px;
            }

            .sort-icon {
                width: 12px;
                height: 24px;
            }
        }
    }



    .card-display {
        margin: 16px 0;
        width: 100%;
        display: grid;
        column-gap: 24px;
        row-gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
        grid-auto-flow: dense;
        justify-content: center;

        .card {
            position: relative;
            display: grid;
            grid-template-columns: 156px 1fr;
            grid-template-rows: 1fr 40px;
            column-gap: 16px;
            background-color: white;
            // min-width: 460px;
            // max-width: 600px;
            height: 246px;
            flex-grow: 1;
            padding: 24px 0 9px 0;

            .expireTag {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $expireBgColor;
                color: $expireTextColor;
                font-size: 10px;
                width: 52px;
                height: 18px;
                font-weight: bold;
            }

            .card-img {
                height: 157px;
                width: 132px;
                background-size: cover;
                margin-left: 24px;
                margin-bottom: 16px;
            }

            .details {
                padding-right: 24px;

                .space-between {
                    align-items: flex-start;

                    .class{
                        width: 100%;
                        height: 27px;
                        border: none;
                        appearance: none;
                        background-image: url('/assets/icons/arrow-down.svg');
                        background-repeat: no-repeat;
                        background-size: 25px;
                        background-position: 100%;   
                        font-weight: 600;
                        color:$darkTextColor;
                    }
                }
            }

            .detail-heading {
                max-height: 40px;
                overflow-y: clip;
                color: $darkTextColor;
            }

            .teacher-info>.space-between {
                border-bottom: 1px solid $cardBottomBorderColor;
                margin-bottom: 8px;
                color: $darkTextColor;
            }

            .course-info {
                color: #666666;
                font-size: 12px;
            }

            .card-icons {
                grid-column: 1/3;
                display: flex;
                justify-content: space-around;
                border-top: 1px solid $cardTopBorderColor;
                padding-top: 18px;
                margin-right: 24px;
                align-items: center;

                button{
                    background: transparent;
                    border: none;
                    opacity: 0.4;
                }
                .card-btn-enable{
                    opacity: 1;
                }
            }
        }
    }

    @media screen and (max-width: 1090px) {
        .card-display {
            display: flex;
            flex-direction: column;

            .card {
                display: grid;
                width: 571px;
                margin-left: auto;
                margin-right: auto;

            }
        }

    }

    .menu {
        display: flex;
        justify-content: center;
        bottom: 5px;
        margin: 32px auto 0 auto;

        a {
            text-decoration: none;
            color: $bottomMenuColor;
            font-size: 14px;
            margin: 0 5px;
            font-weight: bold;
            padding-right: 8px;
        }

        .right-border {
            border-right: 1px solid $borderColor;
        }
    }
}








/* footer styles */

@import 'footer';


/* Utility classes */
.space-between {
    display: flex;
    justify-content: space-between;
}

.dark {
    color: $darkTextColor;
}

.bold {
    font-weight: bold;
}

.mb-7 {
    margin-bottom: 7px;
    ;
}

.mb-18 {
    margin-bottom: 18px;
}

.center-div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}