* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  /*  Header style     */
  /*  Content Style */
  /*  Footer Style     */
}
.container .header {
  height: 58px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 29px;
  background-color: black;
  border-bottom: 2px solid #31B9E4;
}
.container .header img {
  height: 36px;
}
.container .content {
  background-color: #EEEEEE;
  display: grid;
  min-height: calc(100% - 164px);
  justify-content: center;
  padding-top: 50px;
}
.container .login-card {
  max-width: 488px;
  width: 100vw;
  max-height: 612px;
  background-color: white;
  padding: 0px 32px 24px 32px;
  border-top: 4px solid #3AC7EC;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.container .login-card .form-title {
  display: flex;
  align-items: flex-end;
}
.container .login-card .form-title img {
  position: relative;
  left: -3px;
}
.container .login-card .form-title h2 {
  margin: 20px auto 0 77px;
  font-size: 24px;
  color: #222222;
}
.container .login-card form {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 600;
}
.container .login-card form .radio-input {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
  color: #666666;
}
.container .login-card form .radio-input label {
  margin-right: 32px;
  color: #333333;
}
.container .login-card form .radio-input input[type=radio] {
  accent-color: #1F7A54;
  margin-right: 8px;
  width: 20px;
  height: 24px;
}
.container .login-card form .select label {
  font-size: 12px;
  margin-bottom: 5px;
  color: #666666;
}
.container .login-card form .select select {
  padding: 5px 0;
  color: #222222;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("/assets/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: calc(100% + 6px) center;
}
.container .login-card form .credentials {
  position: relative;
}
.container .login-card form .credentials input {
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.container .login-card form .credentials ::-moz-placeholder {
  color: #666666;
}
.container .login-card form .credentials ::placeholder {
  color: #666666;
}
.container .login-card form input[type=checkbox] {
  accent-color: #1F7A54;
  height: 24px;
  width: 18px;
  margin-right: 5px;
}
.container .login-card form input[type=submit] {
  height: 40px;
  width: 215px;
  display: block;
  margin: 0 auto;
  background-color: #3FD28B;
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
}
.container .login-card form .previewIcon {
  position: absolute;
  right: 0px;
  cursor: pointer;
}
.container .login-card form select,
.container .login-card form .full-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(222, 222, 222);
}
.container .login-card form .forgot {
  display: block;
  text-decoration: none;
  text-align: right;
  color: #1F7A54;
  font-size: 14px;
}
.container .menu {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  padding-top: 32px;
  padding-bottom: 16px;
  background-color: #EEEEEE;
  font-weight: bold;
}
.container .menu a {
  text-decoration: none;
  color: #1F7A54;
  font-size: 14px;
  padding: 0 8px;
}
.container .menu .rightBorder {
  border-right: 1px solid rgba(0, 0, 0, 0.1215686275);
}
.container .footer {
  display: flex;
  position: relative;
  bottom: 0;
  font-size: 12px;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #E0E1E1;
  color: #616161;
  font-size: 12px;
}
.container .footer p {
  padding-left: 16px;
  font-weight: 500;
}
.container .footer span {
  font-weight: bold;
  margin: 0 8px;
}
.container .footer-logo {
  padding: 0 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.1215686275);
}

/*  Utility Classes */
.mb-36 {
  margin-bottom: 36px;
}

.mb-61 {
  margin-bottom: 61px;
}

.mb-34 {
  margin-bottom: 34px;
}

.mb-33 {
  margin-bottom: 33px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-26 {
  margin-bottom: 26px;
}

.mb-56 {
  margin-bottom: 56px;
}

.inline {
  display: inline;
}

.bold {
  font-weight: 700;
  color: black;
}

.align-center {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=login.css.map */