<div class="header">
    <div class="left">
        <img src="assets/icons/logo used in header.svg" class="logo-img">
    </div>
    <div class="right">
        <ul class="navbar">
            <a href="#">
                <li class="active-white">DASHBOARD</li>
            </a>
            <a href="#">
                <li>CONTENT</li>
            </a>
            <a href="#">
                <li>USERS</li>
            </a>
            <a href="#">
                <li>REPORTS</li>
            </a>
            <a href="#">
                <li>ADMIN</li>
            </a>
        </ul>
        <div class="icon-link-div">
            <!-- notification icon -->
            <app-notification class="headerMenuItem"></app-notification>
            
            <!-- announcemnt icon -->
            <app-announcement class="headerMenuItem"></app-announcement>
            
            <!-- profile icon -->
            <app-profile class="headerMenuItem"></app-profile>
        </div>

        <!-- hamburger menu -->
        <app-hamburgermenu class="headerMenuItem"></app-hamburgermenu>
        
    </div>
</div>